.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.navbar {
    min-height: 80px;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.img-fluid {
    max-height: 80px;
    line-height: 80px;
}
  
.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px;
}

.carousel-images{
    object-fit: cover;
    width: 100%;
    height: 720px
}